*  {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

.clear {
    clear: both;
}

.open {
   display: flex !important;
    
}

.row {
    text-align: left;
    margin-left: 8px;
    margin-right: 8px;
}

.row::after {
    clear: both;
    content: "";
    display: block;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half {
    width: 50%;
}

.col-ful {
    width: 100%;
}

.mt16 {
    margin-top: 16px !important;
}

#main {
    
}




#header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    display: block;
    height: 47px;
    background-color: #000;

}

#header .nav {
    display: inline-block;
}

#header .nav>li{
    position: relative;
    display: inline-block;
    
}

#header .nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    line-height: 47px;
    padding:  0 24px;
    font-size: 15px;
    text-transform: uppercase;
    top: 0 ; 
}


#header .nav a:hover {
    background-color: #ccc;
    color: #000;
}

#header li:hover .subnav{
    display: block ;
}

#header .nav .nav-arown-down{
    display: inline;
    font-size: 12px;
}



#header .subnav {
    position: absolute;
    display: none;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    background-color: #fff;
    left: -10px;
}

#header .subnav a {
    min-width: 160px;
    line-height: 38.5px;
    color: #000;
}


#header .searchbtn {
    float: right;
    font-size: 15px;
    color: #fff;
    line-height: 47px;   
    padding: 0 24px;
}

#header .searchbtn:hover {
    
    background-color: #f44336;
    cursor: pointer;
}


#slider {
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: 47px ;
    padding-top: 50%;
    background: url("/Hoc/w3_band/assets/img/slider5.jpg") top center / cover no-repeat ;
}

#slider .text-slider {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-bottom: 47px;
}
#slider .header-slider{
    margin-bottom: 25px;
}

#slider .content-slider{

}

#content {


}

#content .content-section {
    padding: 64px 16px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#content .header-section {
    margin-bottom: 25px;
    font-size: 30px;
    letter-spacing: 4px;
    text-transform: uppercase;
    
}

#content .decp-section{
    font-size: 15px;
    margin-bottom: 15px;
    font-style: italic;
    opacity: 0.7;
}

#content .about-section{
    font-size: 15px;
    text-align: justify;
    line-height: 1.5;
}

#content .member-list{
 
   
}

#content .member-item{
    float: left;
    width: 33.333333%;
    padding: 47px 0;
}

#content .name-band{
    margin-bottom: 15px;
}

#content .img-member{
    width: 154px;
    margin-bottom: 15px;
    border-radius: 4px;
}


.booking-tour {
    background-color: #000;
    color: #fff;
    
}

.info-booking {
    background-color: #fff;
    color: #757575;
    text-align: left;
}

.date-booking{
    margin-top: 28px;
    margin-left: 12px;
    list-style-type: none;
    line-height: 40px;
    
}

.date-booking li {
    border-bottom: 1px solid #ddd;
}

.Sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 8px;
    margin-left: 16px;
}

.number-booking {
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    padding: 0  10px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    line-height: 28px;
}




.place-list{
    margin: 0 -8px;
    
}

.place-booking {
    background-color: #000;
    padding: 32px 8px;
    float: left;
    width: 33.3333333%;
    
}

.place-img {
    width: 100%;
    display: block;
}

.place-img:hover {
    opacity: 0.7;
}

.place-body{
    background-color: #fff;
    padding: 15px 16px;
    
}

.place-city {
    color: #000;
    padding-bottom: 15px;
}

.place-time{
    padding-bottom: 15px;
}

.place-content{
    padding-bottom: 15px;
    color: #000;
}

.btn-buy{
    background-color: #000;
    color: #fff;
    padding: 8px 16px;
    border: none;
}

.btn-buy:hover {
    background-color: #ccc;
    color: #000;
    
}

.modal {
    display: none;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    position: fixed;
}



.modal-container{
    width: 900px;
    min-height: 200px;
    background-color: #fff;
    position: relative;
    animation: modalFaceIn ease 0.6s;
}

.modal-header {
    background-color: #009688;
    text-align: center;
    line-height: 130px ;
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    
}

.modal-header .icon-modal {

}



.modal-close {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    padding: 8px 16px;
}

.modal-close:hover {
    cursor: pointer;
    opacity: 0.6;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    margin-bottom: 5px;
}
.modal-input {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
}

#buy-ticket {
    width: 100%;
    padding: 18px 0;
    background-color: #009688;
    color: #fff;
    font-size: 16px;
    border: none;
    text-transform: uppercase;
}

#buy-ticket:hover {
    opacity: 0.8;
    cursor: pointer;
}

.modal-footer {
    text-align: right;
    padding: 16px;
    margin-bottom: 6px;
}

.modal-footer a {
    color: #2196F3;
}

.contact-content {
    margin-top: 47px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

.contact-form {
    font-size: 15px;

}

.contact-form .form-control {
    padding: 4px;
    margin right: 10px;
    width: 100%;
}

.form-btn-submit {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 8px 16px;
    float: right;
}

.form-btn-submit:hover {
    cursor: pointer;
    opacity: 0.6;
}


#footer {
    background-color: #fff;
}

.map-section img{
    width: 100%;
}

.socical-list{
    padding: 64px 16px;
    text-align: center;
}

.socical-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
    
}

.socical-list i {
    font-size: 24px;
}

.socical-list i:hover {
    color: rgba(0, 0, 0, 0.3);
}

.copyright {
    margin-top: 15px;
}

.copyright a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration:underline;
}



@keyframes modalFaceIn {
    from{
        transform: translateY(-200px);
        opacity: 0.3;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}